
{% extends "base/base.html" %}

{% block title %}
commits
{% endblock %}

{% block bigtitle %}
git
{% endblock %}

{% block content %}
{% autoescape off %}
<h2>
References
</h2>

<ul>
{% for entry in refs|slice:":2" %}
    <li> {{ entry.str }} </li>
{% empty %}
    <li> No References </li>
{% endfor %}
</ul>

<hr/>


<h2>
Commits
</h2>

<ul>
{% for entry in commits %}
<li> {{ entry.hexsha }} </li>
 <ul>
    <li> {{ entry.author.name }} </li>
    <li> {{ entry.time }} </li>
    <li> parent numer {{ entry.parent1 }}} </li>
    <li> parent numer {{ entry.parent2 }}} </li>
 </ul>

<blockquote>
{{ entry.message|linebreaksbr }}
</blockquote>
{% endfor %}
</ul>

<hr/>
{% endautoescape %}
{% endblock %}



